html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow:
    597px 833px #fff,
    1527px 230px #fff,
    1676px 1550px #fff,
    413px 1403px #fff,
    377px 18px #fff,
    1146px 110px #fff,
    1882px 618px #fff,
    1943px 822px #fff,
    159px 1234px #fff,
    228px 581px #fff,
    1292px 240px #fff,
    6px 1414px #fff,
    1169px 1565px #fff,
    1487px 1595px #fff,
    589px 519px #fff,
    342px 1395px #fff,
    106px 333px #fff,
    622px 60px #fff,
    115px 875px #fff,
    1995px 756px #fff,
    1102px 922px #fff,
    209px 596px #fff,
    1188px 44px #fff,
    928px 1443px #fff,
    681px 977px #fff,
    1528px 1215px #fff,
    1523px 298px #fff,
    1810px 1322px #fff,
    1091px 358px #fff,
    1115px 1066px #fff,
    1275px 813px #fff,
    1144px 1743px #fff,
    405px 1969px #fff,
    81px 748px #fff,
    1120px 59px #fff,
    922px 1813px #fff,
    1395px 548px #fff,
    818px 1404px #fff,
    633px 1080px #fff,
    576px 305px #fff,
    1493px 1342px #fff,
    1901px 1421px #fff,
    238px 96px #fff,
    212px 204px #fff,
    194px 493px #fff,
    423px 204px #fff,
    328px 294px #fff,
    1803px 534px #fff,
    599px 1722px #fff,
    490px 1461px #fff,
    866px 1864px #fff,
    515px 1495px #fff,
    1229px 1305px #fff,
    1786px 1561px #fff,
    1843px 1082px #fff,
    1020px 1240px #fff,
    1547px 904px #fff,
    1122px 1987px #fff,
    191px 755px #fff,
    994px 814px #fff,
    655px 1582px #fff,
    132px 927px #fff,
    513px 814px #fff,
    1220px 1676px #fff,
    1832px 496px #fff,
    1162px 174px #fff,
    988px 879px #fff,
    581px 1257px #fff,
    1785px 1093px #fff,
    314px 141px #fff,
    729px 739px #fff,
    1957px 556px #fff,
    1881px 494px #fff,
    1541px 1451px #fff,
    418px 1169px #fff,
    1540px 1069px #fff,
    1201px 24px #fff,
    1734px 567px #fff,
    587px 1331px #fff,
    958px 641px #fff,
    970px 281px #fff,
    149px 915px #fff,
    565px 368px #fff,
    1986px 628px #fff,
    895px 174px #fff,
    762px 182px #fff,
    830px 389px #fff,
    1027px 23px #fff,
    355px 784px #fff,
    621px 1022px #fff,
    1874px 1633px #fff,
    363px 1954px #fff,
    1074px 402px #fff,
    647px 292px #fff,
    1981px 355px #fff,
    1094px 1728px #fff,
    703px 1691px #fff,
    200px 173px #fff,
    1477px 1616px #fff,
    182px 627px #fff,
    1826px 1457px #fff,
    1842px 1775px #fff,
    1710px 527px #fff,
    838px 1248px #fff,
    642px 462px #fff,
    746px 1353px #fff,
    1323px 68px #fff,
    1647px 1123px #fff,
    1940px 854px #fff,
    1516px 1302px #fff,
    877px 1783px #fff,
    1891px 727px #fff,
    1138px 960px #fff,
    1760px 1294px #fff,
    1848px 528px #fff,
    8px 844px #fff,
    1818px 426px #fff,
    1649px 51px #fff,
    1999px 708px #fff,
    127px 346px #fff,
    1377px 384px #fff,
    1460px 1179px #fff,
    1178px 26px #fff,
    1370px 1726px #fff,
    45px 215px #fff,
    794px 1862px #fff,
    796px 724px #fff,
    247px 1466px #fff,
    1546px 1676px #fff,
    6px 856px #fff,
    854px 810px #fff,
    936px 1085px #fff,
    1877px 1385px #fff,
    1222px 443px #fff,
    1925px 386px #fff,
    1767px 616px #fff,
    97px 113px #fff,
    899px 1560px #fff,
    922px 659px #fff,
    1178px 168px #fff,
    613px 841px #fff,
    716px 1356px #fff,
    102px 654px #fff,
    1140px 1472px #fff,
    758px 1122px #fff,
    482px 1653px #fff,
    327px 217px #fff,
    1255px 520px #fff,
    926px 357px #fff,
    312px 997px #fff,
    1689px 765px #fff,
    1805px 250px #fff,
    558px 580px #fff,
    6px 432px #fff,
    112px 1668px #fff,
    791px 262px #fff,
    184px 79px #fff,
    1158px 891px #fff,
    1235px 1798px #fff,
    1014px 1237px #fff,
    899px 1454px #fff,
    119px 609px #fff,
    416px 174px #fff,
    1492px 1854px #fff,
    176px 1970px #fff,
    262px 380px #fff,
    361px 1997px #fff,
    88px 1421px #fff,
    1075px 1633px #fff,
    789px 339px #fff,
    657px 52px #fff,
    834px 1691px #fff,
    1855px 868px #fff,
    703px 234px #fff,
    1683px 1961px #fff,
    553px 256px #fff,
    361px 1282px #fff,
    1201px 435px #fff,
    1152px 1005px #fff,
    133px 1946px #fff,
    764px 1494px #fff,
    288px 479px #fff,
    324px 1959px #fff,
    1281px 944px #fff,
    1511px 1612px #fff,
    843px 759px #fff,
    1456px 33px #fff,
    787px 369px #fff,
    946px 48px #fff,
    703px 500px #fff,
    568px 510px #fff,
    596px 1383px #fff,
    318px 535px #fff,
    1881px 702px #fff,
    484px 621px #fff,
    851px 1921px #fff,
    974px 919px #fff,
    1884px 1980px #fff,
    1757px 1273px #fff,
    1864px 1115px #fff,
    717px 1880px #fff,
    1563px 1033px #fff,
    1657px 1436px #fff,
    1691px 1889px #fff,
    1444px 1333px #fff,
    1472px 554px #fff,
    837px 1083px #fff,
    985px 200px #fff,
    533px 1678px #fff,
    425px 1125px #fff,
    1846px 1974px #fff,
    1182px 1965px #fff,
    1296px 208px #fff,
    1194px 206px #fff,
    1614px 1659px #fff,
    367px 1847px #fff,
    253px 1724px #fff,
    991px 1674px #fff,
    1358px 13px #fff,
    1944px 1775px #fff,
    634px 1508px #fff,
    1385px 136px #fff,
    1954px 1185px #fff,
    1373px 208px #fff,
    589px 1070px #fff,
    1846px 801px #fff,
    1477px 966px #fff,
    627px 197px #fff,
    445px 607px #fff,
    977px 386px #fff,
    1191px 1086px #fff,
    633px 1575px #fff,
    1832px 1295px #fff,
    624px 1676px #fff,
    1655px 345px #fff,
    1407px 26px #fff,
    1263px 1897px #fff,
    1554px 667px #fff,
    883px 1906px #fff,
    868px 64px #fff,
    330px 1018px #fff,
    1335px 1739px #fff,
    1429px 1739px #fff,
    1479px 794px #fff,
    397px 49px #fff,
    1099px 575px #fff,
    558px 1246px #fff,
    1206px 1733px #fff,
    1634px 214px #fff,
    1140px 1551px #fff,
    1424px 996px #fff,
    996px 1707px #fff,
    1429px 1255px #fff,
    711px 208px #fff,
    1269px 1383px #fff,
    1427px 277px #fff,
    911px 1747px #fff,
    22px 286px #fff,
    1636px 610px #fff,
    735px 441px #fff,
    155px 511px #fff,
    46px 1581px #fff,
    1259px 570px #fff,
    1969px 1128px #fff,
    395px 1701px #fff,
    1529px 1412px #fff,
    114px 778px #fff,
    1013px 11px #fff,
    734px 978px #fff,
    282px 82px #fff,
    1528px 1640px #fff,
    569px 1491px #fff,
    832px 78px #fff,
    1718px 1502px #fff,
    1722px 574px #fff,
    1734px 1140px #fff,
    1867px 181px #fff,
    1590px 1543px #fff,
    783px 1429px #fff,
    1520px 1135px #fff,
    526px 1986px #fff,
    948px 169px #fff,
    204px 1724px #fff,
    497px 1991px #fff,
    497px 875px #fff,
    1835px 1778px #fff,
    916px 799px #fff,
    1302px 380px #fff,
    1400px 1892px #fff,
    1600px 579px #fff,
    1190px 1083px #fff,
    572px 732px #fff,
    1311px 749px #fff,
    1001px 1844px #fff,
    1090px 345px #fff,
    993px 202px #fff,
    1420px 1750px #fff,
    506px 108px #fff,
    753px 72px #fff,
    1112px 1202px #fff,
    321px 1736px #fff,
    117px 1864px #fff,
    715px 1022px #fff,
    651px 868px #fff,
    85px 941px #fff,
    1923px 1608px #fff,
    1427px 1991px #fff,
    1883px 730px #fff,
    359px 130px #fff,
    1969px 1694px #fff,
    514px 1981px #fff,
    698px 1469px #fff,
    127px 1330px #fff,
    173px 55px #fff,
    1543px 1295px #fff,
    37px 199px #fff,
    556px 584px #fff,
    1475px 1606px #fff,
    488px 991px #fff,
    1878px 1757px #fff,
    1873px 138px #fff,
    418px 176px #fff,
    1380px 582px #fff,
    214px 1216px #fff,
    1815px 858px #fff,
    310px 1276px #fff,
    1601px 298px #fff,
    464px 1350px #fff,
    47px 270px #fff,
    548px 197px #fff,
    253px 959px #fff,
    1232px 1351px #fff,
    167px 1432px #fff,
    1949px 260px #fff,
    420px 678px #fff,
    1361px 1730px #fff,
    605px 1379px #fff,
    377px 1021px #fff,
    308px 1948px #fff,
    420px 1612px #fff,
    718px 1783px #fff,
    705px 1709px #fff,
    303px 1165px #fff,
    1416px 1985px #fff,
    557px 24px #fff,
    166px 378px #fff,
    898px 1767px #fff,
    557px 451px #fff,
    169px 1042px #fff,
    1005px 313px #fff,
    475px 1434px #fff,
    1158px 1758px #fff,
    790px 110px #fff,
    1300px 142px #fff,
    355px 1297px #fff,
    1480px 410px #fff,
    1105px 951px #fff,
    1973px 1362px #fff,
    1157px 1642px #fff,
    1206px 1021px #fff,
    834px 762px #fff,
    511px 550px #fff,
    296px 1102px #fff,
    1677px 1165px #fff,
    888px 1618px #fff,
    285px 1411px #fff,
    873px 1050px #fff,
    932px 867px #fff,
    803px 234px #fff,
    687px 411px #fff,
    206px 141px #fff,
    1729px 66px #fff,
    1365px 304px #fff,
    170px 1872px #fff,
    1365px 1395px #fff,
    735px 1003px #fff,
    77px 1822px #fff,
    1839px 1755px #fff,
    384px 829px #fff,
    65px 243px #fff,
    768px 78px #fff,
    1075px 441px #fff,
    1822px 700px #fff,
    963px 944px #fff,
    98px 1611px #fff,
    1157px 1399px #fff,
    888px 1635px #fff,
    1553px 1986px #fff,
    1320px 590px #fff,
    1136px 286px #fff,
    127px 503px #fff,
    1263px 1354px #fff,
    1775px 437px #fff,
    1702px 1107px #fff,
    1338px 50px #fff,
    826px 488px #fff,
    347px 1036px #fff,
    1685px 541px #fff,
    981px 1147px #fff,
    71px 1035px #fff,
    1271px 871px #fff,
    666px 1351px #fff,
    256px 1151px #fff,
    198px 1996px #fff,
    496px 77px #fff,
    1153px 1837px #fff,
    1836px 1573px #fff,
    99px 1380px #fff,
    1215px 1963px #fff,
    242px 1033px #fff,
    1473px 1414px #fff,
    277px 736px #fff,
    1264px 1972px #fff,
    734px 497px #fff,
    54px 539px #fff,
    88px 220px #fff,
    492px 1093px #fff,
    1836px 648px #fff,
    1111px 1753px #fff,
    1058px 259px #fff,
    968px 998px #fff,
    82px 597px #fff,
    177px 496px #fff,
    1253px 424px #fff,
    644px 1893px #fff,
    1521px 826px #fff,
    1896px 169px #fff,
    1151px 28px #fff,
    613px 429px #fff,
    760px 500px #fff,
    1258px 1787px #fff,
    1512px 1638px #fff,
    178px 1026px #fff,
    1758px 820px #fff,
    1195px 1635px #fff,
    886px 1619px #fff,
    932px 1985px #fff,
    98px 638px #fff,
    1652px 945px #fff,
    1317px 642px #fff,
    1399px 1286px #fff,
    447px 766px #fff,
    1123px 751px #fff,
    633px 474px #fff,
    1836px 818px #fff,
    1281px 1025px #fff,
    259px 580px #fff,
    984px 1742px #fff,
    390px 947px #fff,
    52px 505px #fff,
    497px 1427px #fff,
    222px 325px #fff,
    1095px 1248px #fff,
    235px 1856px #fff,
    1006px 1355px #fff,
    274px 761px #fff,
    408px 1799px #fff,
    1568px 1154px #fff,
    589px 709px #fff,
    1412px 1865px #fff,
    478px 43px #fff,
    514px 1503px #fff,
    165px 607px #fff,
    1516px 1383px #fff,
    1790px 707px #fff,
    443px 764px #fff,
    781px 727px #fff,
    43px 172px #fff,
    187px 4px #fff,
    1937px 1987px #fff,
    1573px 1616px #fff,
    1807px 705px #fff,
    103px 902px #fff,
    743px 1866px #fff,
    192px 1234px #fff,
    1198px 1498px #fff,
    1663px 345px #fff,
    828px 1074px #fff,
    630px 618px #fff,
    1839px 1979px #fff,
    553px 552px #fff,
    1722px 1292px #fff,
    1523px 217px #fff,
    567px 154px #fff,
    1209px 769px #fff,
    904px 506px #fff,
    441px 460px #fff,
    218px 1674px #fff,
    304px 1401px #fff,
    1484px 180px #fff,
    230px 1787px #fff,
    1173px 1876px #fff,
    953px 1199px #fff,
    659px 1327px #fff,
    291px 1472px #fff,
    1254px 851px #fff,
    1911px 160px #fff,
    1520px 1009px #fff,
    1184px 741px #fff,
    26px 792px #fff,
    1928px 699px #fff,
    549px 1503px #fff,
    790px 874px #fff,
    1562px 1824px #fff,
    1775px 1253px #fff,
    638px 926px #fff,
    882px 1194px #fff,
    942px 1642px #fff,
    1685px 821px #fff,
    724px 660px #fff,
    1410px 701px #fff,
    913px 1495px #fff,
    1058px 424px #fff,
    1752px 1769px #fff,
    155px 1712px #fff,
    1424px 1365px #fff,
    584px 545px #fff,
    943px 279px #fff,
    139px 498px #fff,
    1509px 767px #fff,
    1470px 332px #fff,
    1056px 533px #fff,
    62px 1013px #fff,
    1152px 1692px #fff,
    1900px 1459px #fff,
    947px 610px #fff,
    1397px 1534px #fff,
    633px 1949px #fff,
    1903px 977px #fff,
    1474px 1109px #fff,
    1713px 1444px #fff,
    1281px 868px #fff,
    1305px 1066px #fff,
    1296px 792px #fff,
    1615px 1887px #fff,
    83px 290px #fff,
    1708px 510px #fff,
    177px 1058px #fff,
    1973px 1405px #fff,
    1399px 1370px #fff,
    1062px 258px #fff,
    477px 1783px #fff,
    263px 1266px #fff,
    671px 184px #fff,
    1484px 676px #fff,
    447px 1270px #fff,
    51px 460px #fff,
    268px 1865px #fff,
    789px 1497px #fff,
    748px 1444px #fff,
    1477px 1328px #fff,
    1608px 1836px #fff,
    1192px 224px #fff,
    1968px 1135px #fff,
    596px 822px #fff,
    1479px 727px #fff,
    1155px 1281px #fff,
    1487px 1256px #fff,
    1992px 800px #fff,
    186px 1339px #fff,
    910px 1047px #fff,
    76px 113px #fff,
    1599px 1847px #fff,
    656px 1655px #fff,
    191px 1832px #fff,
    1115px 816px #fff,
    1035px 383px #fff,
    79px 1945px #fff,
    374px 1779px #fff,
    1406px 1607px #fff,
    587px 450px #fff,
    1821px 1710px #fff,
    1047px 1600px #fff,
    604px 1109px #fff,
    1279px 343px #fff,
    357px 557px #fff,
    707px 1544px #fff,
    1565px 1714px #fff,
    546px 1559px #fff,
    1354px 768px #fff,
    1909px 1134px #fff,
    633px 1419px #fff,
    652px 1137px #fff,
    559px 926px #fff,
    1192px 537px #fff,
    1083px 433px #fff,
    1598px 1705px #fff,
    231px 131px #fff,
    1975px 1241px #fff,
    971px 1200px #fff,
    672px 624px #fff,
    833px 299px #fff,
    408px 1757px #fff,
    1676px 963px #fff,
    1664px 1748px #fff,
    1217px 196px #fff,
    405px 303px #fff,
    809px 660px #fff,
    1328px 30px #fff,
    1150px 925px #fff,
    609px 1122px #fff,
    1787px 1527px #fff,
    1639px 1076px #fff,
    1900px 1079px #fff,
    154px 959px #fff,
    44px 1941px #fff,
    738px 1179px #fff,
    466px 1119px #fff,
    1902px 624px #fff,
    342px 1200px #fff,
    737px 71px #fff,
    1567px 73px #fff,
    1064px 280px #fff,
    1328px 1642px #fff,
    996px 1034px #fff,
    653px 1718px #fff,
    1473px 1314px #fff,
    1243px 210px #fff,
    351px 213px #fff,
    673px 715px #fff,
    1818px 246px #fff,
    30px 1693px #fff,
    509px 1776px #fff,
    1316px 1658px #fff,
    891px 791px #fff,
    1371px 975px #fff,
    1218px 1154px #fff,
    776px 173px #fff,
    599px 605px #fff,
    234px 603px #fff,
    701px 787px #fff,
    450px 1252px #fff,
    441px 435px #fff,
    1754px 321px #fff,
    1498px 331px #fff,
    1631px 1087px #fff,
    358px 525px #fff,
    1558px 1653px #fff,
    359px 494px #fff,
    407px 28px #fff,
    1217px 524px #fff,
    1154px 377px #fff,
    596px 1861px #fff,
    304px 1307px #fff,
    1271px 1739px #fff,
    1586px 1182px #fff,
    723px 666px #fff,
    1741px 824px #fff,
    1039px 828px #fff,
    503px 1722px #fff,
    567px 557px #fff,
    219px 108px #fff,
    1083px 1116px #fff,
    675px 1077px #fff,
    638px 1719px #fff,
    1730px 745px #fff,
    1778px 1908px #fff,
    1534px 962px #fff,
    292px 930px #fff,
    744px 1982px #fff,
    434px 1772px #fff,
    1177px 780px #fff,
    172px 51px #fff,
    805px 617px #fff,
    640px 869px #fff,
    428px 232px #fff,
    612px 1151px #fff,
    389px 858px #fff,
    437px 1341px #fff,
    543px 1184px #fff,
    501px 687px #fff,
    1057px 1800px #fff,
    1116px 1386px #fff,
    1362px 1803px #fff,
    1479px 10px #fff,
    296px 1649px #fff,
    1992px 1820px #fff,
    1427px 173px #fff,
    783px 672px #fff,
    889px 1543px #fff,
    742px 634px #fff,
    487px 240px #fff,
    1139px 1079px #fff,
    1564px 1869px #fff,
    1046px 1762px #fff,
    1px 1638px #fff,
    49px 1616px #fff,
    65px 1617px #fff,
    867px 643px #fff,
    1213px 519px #fff,
    1866px 1758px #fff,
    93px 1710px #fff,
    617px 1107px #fff,
    600px 551px #fff,
    580px 674px #fff,
    1601px 1264px #fff,
    1557px 1645px #fff,
    997px 1136px #fff,
    268px 1047px #fff,
    796px 33px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow:
    597px 833px #fff,
    1527px 230px #fff,
    1676px 1550px #fff,
    413px 1403px #fff,
    377px 18px #fff,
    1146px 110px #fff,
    1882px 618px #fff,
    1943px 822px #fff,
    159px 1234px #fff,
    228px 581px #fff,
    1292px 240px #fff,
    6px 1414px #fff,
    1169px 1565px #fff,
    1487px 1595px #fff,
    589px 519px #fff,
    342px 1395px #fff,
    106px 333px #fff,
    622px 60px #fff,
    115px 875px #fff,
    1995px 756px #fff,
    1102px 922px #fff,
    209px 596px #fff,
    1188px 44px #fff,
    928px 1443px #fff,
    681px 977px #fff,
    1528px 1215px #fff,
    1523px 298px #fff,
    1810px 1322px #fff,
    1091px 358px #fff,
    1115px 1066px #fff,
    1275px 813px #fff,
    1144px 1743px #fff,
    405px 1969px #fff,
    81px 748px #fff,
    1120px 59px #fff,
    922px 1813px #fff,
    1395px 548px #fff,
    818px 1404px #fff,
    633px 1080px #fff,
    576px 305px #fff,
    1493px 1342px #fff,
    1901px 1421px #fff,
    238px 96px #fff,
    212px 204px #fff,
    194px 493px #fff,
    423px 204px #fff,
    328px 294px #fff,
    1803px 534px #fff,
    599px 1722px #fff,
    490px 1461px #fff,
    866px 1864px #fff,
    515px 1495px #fff,
    1229px 1305px #fff,
    1786px 1561px #fff,
    1843px 1082px #fff,
    1020px 1240px #fff,
    1547px 904px #fff,
    1122px 1987px #fff,
    191px 755px #fff,
    994px 814px #fff,
    655px 1582px #fff,
    132px 927px #fff,
    513px 814px #fff,
    1220px 1676px #fff,
    1832px 496px #fff,
    1162px 174px #fff,
    988px 879px #fff,
    581px 1257px #fff,
    1785px 1093px #fff,
    314px 141px #fff,
    729px 739px #fff,
    1957px 556px #fff,
    1881px 494px #fff,
    1541px 1451px #fff,
    418px 1169px #fff,
    1540px 1069px #fff,
    1201px 24px #fff,
    1734px 567px #fff,
    587px 1331px #fff,
    958px 641px #fff,
    970px 281px #fff,
    149px 915px #fff,
    565px 368px #fff,
    1986px 628px #fff,
    895px 174px #fff,
    762px 182px #fff,
    830px 389px #fff,
    1027px 23px #fff,
    355px 784px #fff,
    621px 1022px #fff,
    1874px 1633px #fff,
    363px 1954px #fff,
    1074px 402px #fff,
    647px 292px #fff,
    1981px 355px #fff,
    1094px 1728px #fff,
    703px 1691px #fff,
    200px 173px #fff,
    1477px 1616px #fff,
    182px 627px #fff,
    1826px 1457px #fff,
    1842px 1775px #fff,
    1710px 527px #fff,
    838px 1248px #fff,
    642px 462px #fff,
    746px 1353px #fff,
    1323px 68px #fff,
    1647px 1123px #fff,
    1940px 854px #fff,
    1516px 1302px #fff,
    877px 1783px #fff,
    1891px 727px #fff,
    1138px 960px #fff,
    1760px 1294px #fff,
    1848px 528px #fff,
    8px 844px #fff,
    1818px 426px #fff,
    1649px 51px #fff,
    1999px 708px #fff,
    127px 346px #fff,
    1377px 384px #fff,
    1460px 1179px #fff,
    1178px 26px #fff,
    1370px 1726px #fff,
    45px 215px #fff,
    794px 1862px #fff,
    796px 724px #fff,
    247px 1466px #fff,
    1546px 1676px #fff,
    6px 856px #fff,
    854px 810px #fff,
    936px 1085px #fff,
    1877px 1385px #fff,
    1222px 443px #fff,
    1925px 386px #fff,
    1767px 616px #fff,
    97px 113px #fff,
    899px 1560px #fff,
    922px 659px #fff,
    1178px 168px #fff,
    613px 841px #fff,
    716px 1356px #fff,
    102px 654px #fff,
    1140px 1472px #fff,
    758px 1122px #fff,
    482px 1653px #fff,
    327px 217px #fff,
    1255px 520px #fff,
    926px 357px #fff,
    312px 997px #fff,
    1689px 765px #fff,
    1805px 250px #fff,
    558px 580px #fff,
    6px 432px #fff,
    112px 1668px #fff,
    791px 262px #fff,
    184px 79px #fff,
    1158px 891px #fff,
    1235px 1798px #fff,
    1014px 1237px #fff,
    899px 1454px #fff,
    119px 609px #fff,
    416px 174px #fff,
    1492px 1854px #fff,
    176px 1970px #fff,
    262px 380px #fff,
    361px 1997px #fff,
    88px 1421px #fff,
    1075px 1633px #fff,
    789px 339px #fff,
    657px 52px #fff,
    834px 1691px #fff,
    1855px 868px #fff,
    703px 234px #fff,
    1683px 1961px #fff,
    553px 256px #fff,
    361px 1282px #fff,
    1201px 435px #fff,
    1152px 1005px #fff,
    133px 1946px #fff,
    764px 1494px #fff,
    288px 479px #fff,
    324px 1959px #fff,
    1281px 944px #fff,
    1511px 1612px #fff,
    843px 759px #fff,
    1456px 33px #fff,
    787px 369px #fff,
    946px 48px #fff,
    703px 500px #fff,
    568px 510px #fff,
    596px 1383px #fff,
    318px 535px #fff,
    1881px 702px #fff,
    484px 621px #fff,
    851px 1921px #fff,
    974px 919px #fff,
    1884px 1980px #fff,
    1757px 1273px #fff,
    1864px 1115px #fff,
    717px 1880px #fff,
    1563px 1033px #fff,
    1657px 1436px #fff,
    1691px 1889px #fff,
    1444px 1333px #fff,
    1472px 554px #fff,
    837px 1083px #fff,
    985px 200px #fff,
    533px 1678px #fff,
    425px 1125px #fff,
    1846px 1974px #fff,
    1182px 1965px #fff,
    1296px 208px #fff,
    1194px 206px #fff,
    1614px 1659px #fff,
    367px 1847px #fff,
    253px 1724px #fff,
    991px 1674px #fff,
    1358px 13px #fff,
    1944px 1775px #fff,
    634px 1508px #fff,
    1385px 136px #fff,
    1954px 1185px #fff,
    1373px 208px #fff,
    589px 1070px #fff,
    1846px 801px #fff,
    1477px 966px #fff,
    627px 197px #fff,
    445px 607px #fff,
    977px 386px #fff,
    1191px 1086px #fff,
    633px 1575px #fff,
    1832px 1295px #fff,
    624px 1676px #fff,
    1655px 345px #fff,
    1407px 26px #fff,
    1263px 1897px #fff,
    1554px 667px #fff,
    883px 1906px #fff,
    868px 64px #fff,
    330px 1018px #fff,
    1335px 1739px #fff,
    1429px 1739px #fff,
    1479px 794px #fff,
    397px 49px #fff,
    1099px 575px #fff,
    558px 1246px #fff,
    1206px 1733px #fff,
    1634px 214px #fff,
    1140px 1551px #fff,
    1424px 996px #fff,
    996px 1707px #fff,
    1429px 1255px #fff,
    711px 208px #fff,
    1269px 1383px #fff,
    1427px 277px #fff,
    911px 1747px #fff,
    22px 286px #fff,
    1636px 610px #fff,
    735px 441px #fff,
    155px 511px #fff,
    46px 1581px #fff,
    1259px 570px #fff,
    1969px 1128px #fff,
    395px 1701px #fff,
    1529px 1412px #fff,
    114px 778px #fff,
    1013px 11px #fff,
    734px 978px #fff,
    282px 82px #fff,
    1528px 1640px #fff,
    569px 1491px #fff,
    832px 78px #fff,
    1718px 1502px #fff,
    1722px 574px #fff,
    1734px 1140px #fff,
    1867px 181px #fff,
    1590px 1543px #fff,
    783px 1429px #fff,
    1520px 1135px #fff,
    526px 1986px #fff,
    948px 169px #fff,
    204px 1724px #fff,
    497px 1991px #fff,
    497px 875px #fff,
    1835px 1778px #fff,
    916px 799px #fff,
    1302px 380px #fff,
    1400px 1892px #fff,
    1600px 579px #fff,
    1190px 1083px #fff,
    572px 732px #fff,
    1311px 749px #fff,
    1001px 1844px #fff,
    1090px 345px #fff,
    993px 202px #fff,
    1420px 1750px #fff,
    506px 108px #fff,
    753px 72px #fff,
    1112px 1202px #fff,
    321px 1736px #fff,
    117px 1864px #fff,
    715px 1022px #fff,
    651px 868px #fff,
    85px 941px #fff,
    1923px 1608px #fff,
    1427px 1991px #fff,
    1883px 730px #fff,
    359px 130px #fff,
    1969px 1694px #fff,
    514px 1981px #fff,
    698px 1469px #fff,
    127px 1330px #fff,
    173px 55px #fff,
    1543px 1295px #fff,
    37px 199px #fff,
    556px 584px #fff,
    1475px 1606px #fff,
    488px 991px #fff,
    1878px 1757px #fff,
    1873px 138px #fff,
    418px 176px #fff,
    1380px 582px #fff,
    214px 1216px #fff,
    1815px 858px #fff,
    310px 1276px #fff,
    1601px 298px #fff,
    464px 1350px #fff,
    47px 270px #fff,
    548px 197px #fff,
    253px 959px #fff,
    1232px 1351px #fff,
    167px 1432px #fff,
    1949px 260px #fff,
    420px 678px #fff,
    1361px 1730px #fff,
    605px 1379px #fff,
    377px 1021px #fff,
    308px 1948px #fff,
    420px 1612px #fff,
    718px 1783px #fff,
    705px 1709px #fff,
    303px 1165px #fff,
    1416px 1985px #fff,
    557px 24px #fff,
    166px 378px #fff,
    898px 1767px #fff,
    557px 451px #fff,
    169px 1042px #fff,
    1005px 313px #fff,
    475px 1434px #fff,
    1158px 1758px #fff,
    790px 110px #fff,
    1300px 142px #fff,
    355px 1297px #fff,
    1480px 410px #fff,
    1105px 951px #fff,
    1973px 1362px #fff,
    1157px 1642px #fff,
    1206px 1021px #fff,
    834px 762px #fff,
    511px 550px #fff,
    296px 1102px #fff,
    1677px 1165px #fff,
    888px 1618px #fff,
    285px 1411px #fff,
    873px 1050px #fff,
    932px 867px #fff,
    803px 234px #fff,
    687px 411px #fff,
    206px 141px #fff,
    1729px 66px #fff,
    1365px 304px #fff,
    170px 1872px #fff,
    1365px 1395px #fff,
    735px 1003px #fff,
    77px 1822px #fff,
    1839px 1755px #fff,
    384px 829px #fff,
    65px 243px #fff,
    768px 78px #fff,
    1075px 441px #fff,
    1822px 700px #fff,
    963px 944px #fff,
    98px 1611px #fff,
    1157px 1399px #fff,
    888px 1635px #fff,
    1553px 1986px #fff,
    1320px 590px #fff,
    1136px 286px #fff,
    127px 503px #fff,
    1263px 1354px #fff,
    1775px 437px #fff,
    1702px 1107px #fff,
    1338px 50px #fff,
    826px 488px #fff,
    347px 1036px #fff,
    1685px 541px #fff,
    981px 1147px #fff,
    71px 1035px #fff,
    1271px 871px #fff,
    666px 1351px #fff,
    256px 1151px #fff,
    198px 1996px #fff,
    496px 77px #fff,
    1153px 1837px #fff,
    1836px 1573px #fff,
    99px 1380px #fff,
    1215px 1963px #fff,
    242px 1033px #fff,
    1473px 1414px #fff,
    277px 736px #fff,
    1264px 1972px #fff,
    734px 497px #fff,
    54px 539px #fff,
    88px 220px #fff,
    492px 1093px #fff,
    1836px 648px #fff,
    1111px 1753px #fff,
    1058px 259px #fff,
    968px 998px #fff,
    82px 597px #fff,
    177px 496px #fff,
    1253px 424px #fff,
    644px 1893px #fff,
    1521px 826px #fff,
    1896px 169px #fff,
    1151px 28px #fff,
    613px 429px #fff,
    760px 500px #fff,
    1258px 1787px #fff,
    1512px 1638px #fff,
    178px 1026px #fff,
    1758px 820px #fff,
    1195px 1635px #fff,
    886px 1619px #fff,
    932px 1985px #fff,
    98px 638px #fff,
    1652px 945px #fff,
    1317px 642px #fff,
    1399px 1286px #fff,
    447px 766px #fff,
    1123px 751px #fff,
    633px 474px #fff,
    1836px 818px #fff,
    1281px 1025px #fff,
    259px 580px #fff,
    984px 1742px #fff,
    390px 947px #fff,
    52px 505px #fff,
    497px 1427px #fff,
    222px 325px #fff,
    1095px 1248px #fff,
    235px 1856px #fff,
    1006px 1355px #fff,
    274px 761px #fff,
    408px 1799px #fff,
    1568px 1154px #fff,
    589px 709px #fff,
    1412px 1865px #fff,
    478px 43px #fff,
    514px 1503px #fff,
    165px 607px #fff,
    1516px 1383px #fff,
    1790px 707px #fff,
    443px 764px #fff,
    781px 727px #fff,
    43px 172px #fff,
    187px 4px #fff,
    1937px 1987px #fff,
    1573px 1616px #fff,
    1807px 705px #fff,
    103px 902px #fff,
    743px 1866px #fff,
    192px 1234px #fff,
    1198px 1498px #fff,
    1663px 345px #fff,
    828px 1074px #fff,
    630px 618px #fff,
    1839px 1979px #fff,
    553px 552px #fff,
    1722px 1292px #fff,
    1523px 217px #fff,
    567px 154px #fff,
    1209px 769px #fff,
    904px 506px #fff,
    441px 460px #fff,
    218px 1674px #fff,
    304px 1401px #fff,
    1484px 180px #fff,
    230px 1787px #fff,
    1173px 1876px #fff,
    953px 1199px #fff,
    659px 1327px #fff,
    291px 1472px #fff,
    1254px 851px #fff,
    1911px 160px #fff,
    1520px 1009px #fff,
    1184px 741px #fff,
    26px 792px #fff,
    1928px 699px #fff,
    549px 1503px #fff,
    790px 874px #fff,
    1562px 1824px #fff,
    1775px 1253px #fff,
    638px 926px #fff,
    882px 1194px #fff,
    942px 1642px #fff,
    1685px 821px #fff,
    724px 660px #fff,
    1410px 701px #fff,
    913px 1495px #fff,
    1058px 424px #fff,
    1752px 1769px #fff,
    155px 1712px #fff,
    1424px 1365px #fff,
    584px 545px #fff,
    943px 279px #fff,
    139px 498px #fff,
    1509px 767px #fff,
    1470px 332px #fff,
    1056px 533px #fff,
    62px 1013px #fff,
    1152px 1692px #fff,
    1900px 1459px #fff,
    947px 610px #fff,
    1397px 1534px #fff,
    633px 1949px #fff,
    1903px 977px #fff,
    1474px 1109px #fff,
    1713px 1444px #fff,
    1281px 868px #fff,
    1305px 1066px #fff,
    1296px 792px #fff,
    1615px 1887px #fff,
    83px 290px #fff,
    1708px 510px #fff,
    177px 1058px #fff,
    1973px 1405px #fff,
    1399px 1370px #fff,
    1062px 258px #fff,
    477px 1783px #fff,
    263px 1266px #fff,
    671px 184px #fff,
    1484px 676px #fff,
    447px 1270px #fff,
    51px 460px #fff,
    268px 1865px #fff,
    789px 1497px #fff,
    748px 1444px #fff,
    1477px 1328px #fff,
    1608px 1836px #fff,
    1192px 224px #fff,
    1968px 1135px #fff,
    596px 822px #fff,
    1479px 727px #fff,
    1155px 1281px #fff,
    1487px 1256px #fff,
    1992px 800px #fff,
    186px 1339px #fff,
    910px 1047px #fff,
    76px 113px #fff,
    1599px 1847px #fff,
    656px 1655px #fff,
    191px 1832px #fff,
    1115px 816px #fff,
    1035px 383px #fff,
    79px 1945px #fff,
    374px 1779px #fff,
    1406px 1607px #fff,
    587px 450px #fff,
    1821px 1710px #fff,
    1047px 1600px #fff,
    604px 1109px #fff,
    1279px 343px #fff,
    357px 557px #fff,
    707px 1544px #fff,
    1565px 1714px #fff,
    546px 1559px #fff,
    1354px 768px #fff,
    1909px 1134px #fff,
    633px 1419px #fff,
    652px 1137px #fff,
    559px 926px #fff,
    1192px 537px #fff,
    1083px 433px #fff,
    1598px 1705px #fff,
    231px 131px #fff,
    1975px 1241px #fff,
    971px 1200px #fff,
    672px 624px #fff,
    833px 299px #fff,
    408px 1757px #fff,
    1676px 963px #fff,
    1664px 1748px #fff,
    1217px 196px #fff,
    405px 303px #fff,
    809px 660px #fff,
    1328px 30px #fff,
    1150px 925px #fff,
    609px 1122px #fff,
    1787px 1527px #fff,
    1639px 1076px #fff,
    1900px 1079px #fff,
    154px 959px #fff,
    44px 1941px #fff,
    738px 1179px #fff,
    466px 1119px #fff,
    1902px 624px #fff,
    342px 1200px #fff,
    737px 71px #fff,
    1567px 73px #fff,
    1064px 280px #fff,
    1328px 1642px #fff,
    996px 1034px #fff,
    653px 1718px #fff,
    1473px 1314px #fff,
    1243px 210px #fff,
    351px 213px #fff,
    673px 715px #fff,
    1818px 246px #fff,
    30px 1693px #fff,
    509px 1776px #fff,
    1316px 1658px #fff,
    891px 791px #fff,
    1371px 975px #fff,
    1218px 1154px #fff,
    776px 173px #fff,
    599px 605px #fff,
    234px 603px #fff,
    701px 787px #fff,
    450px 1252px #fff,
    441px 435px #fff,
    1754px 321px #fff,
    1498px 331px #fff,
    1631px 1087px #fff,
    358px 525px #fff,
    1558px 1653px #fff,
    359px 494px #fff,
    407px 28px #fff,
    1217px 524px #fff,
    1154px 377px #fff,
    596px 1861px #fff,
    304px 1307px #fff,
    1271px 1739px #fff,
    1586px 1182px #fff,
    723px 666px #fff,
    1741px 824px #fff,
    1039px 828px #fff,
    503px 1722px #fff,
    567px 557px #fff,
    219px 108px #fff,
    1083px 1116px #fff,
    675px 1077px #fff,
    638px 1719px #fff,
    1730px 745px #fff,
    1778px 1908px #fff,
    1534px 962px #fff,
    292px 930px #fff,
    744px 1982px #fff,
    434px 1772px #fff,
    1177px 780px #fff,
    172px 51px #fff,
    805px 617px #fff,
    640px 869px #fff,
    428px 232px #fff,
    612px 1151px #fff,
    389px 858px #fff,
    437px 1341px #fff,
    543px 1184px #fff,
    501px 687px #fff,
    1057px 1800px #fff,
    1116px 1386px #fff,
    1362px 1803px #fff,
    1479px 10px #fff,
    296px 1649px #fff,
    1992px 1820px #fff,
    1427px 173px #fff,
    783px 672px #fff,
    889px 1543px #fff,
    742px 634px #fff,
    487px 240px #fff,
    1139px 1079px #fff,
    1564px 1869px #fff,
    1046px 1762px #fff,
    1px 1638px #fff,
    49px 1616px #fff,
    65px 1617px #fff,
    867px 643px #fff,
    1213px 519px #fff,
    1866px 1758px #fff,
    93px 1710px #fff,
    617px 1107px #fff,
    600px 551px #fff,
    580px 674px #fff,
    1601px 1264px #fff,
    1557px 1645px #fff,
    997px 1136px #fff,
    268px 1047px #fff,
    796px 33px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow:
    1411px 1041px #fff,
    499px 1200px #fff,
    996px 155px #fff,
    489px 1590px #fff,
    766px 265px #fff,
    499px 130px #fff,
    361px 1924px #fff,
    1233px 801px #fff,
    411px 781px #fff,
    1689px 450px #fff,
    1843px 1075px #fff,
    289px 1920px #fff,
    1399px 495px #fff,
    37px 417px #fff,
    442px 734px #fff,
    1764px 897px #fff,
    935px 1229px #fff,
    930px 126px #fff,
    194px 1825px #fff,
    1015px 734px #fff,
    334px 541px #fff,
    1940px 1746px #fff,
    405px 610px #fff,
    27px 1844px #fff,
    519px 212px #fff,
    872px 916px #fff,
    231px 329px #fff,
    1658px 1834px #fff,
    1631px 1173px #fff,
    1956px 1727px #fff,
    1634px 449px #fff,
    772px 1266px #fff,
    591px 1043px #fff,
    1703px 1385px #fff,
    1812px 422px #fff,
    206px 671px #fff,
    763px 1647px #fff,
    1866px 1130px #fff,
    1164px 362px #fff,
    162px 1640px #fff,
    377px 1014px #fff,
    909px 1522px #fff,
    1585px 147px #fff,
    741px 707px #fff,
    752px 709px #fff,
    1605px 723px #fff,
    1451px 1760px #fff,
    1265px 1530px #fff,
    104px 348px #fff,
    598px 1705px #fff,
    1883px 1310px #fff,
    1148px 904px #fff,
    645px 1145px #fff,
    1596px 1015px #fff,
    1144px 1110px #fff,
    1689px 73px #fff,
    777px 373px #fff,
    739px 312px #fff,
    1746px 1973px #fff,
    1264px 189px #fff,
    781px 716px #fff,
    769px 361px #fff,
    1419px 956px #fff,
    472px 373px #fff,
    1653px 1372px #fff,
    1164px 726px #fff,
    1656px 837px #fff,
    1025px 1784px #fff,
    1211px 234px #fff,
    1589px 880px #fff,
    375px 588px #fff,
    1123px 1051px #fff,
    293px 1422px #fff,
    135px 1939px #fff,
    976px 53px #fff,
    111px 1853px #fff,
    370px 1727px #fff,
    302px 1088px #fff,
    1984px 1771px #fff,
    745px 1570px #fff,
    96px 1566px #fff,
    165px 1545px #fff,
    1037px 1126px #fff,
    996px 1311px #fff,
    839px 552px #fff,
    1762px 1403px #fff,
    1285px 976px #fff,
    1000px 1978px #fff,
    330px 1442px #fff,
    1098px 745px #fff,
    1859px 901px #fff,
    485px 1713px #fff,
    492px 1051px #fff,
    1772px 1227px #fff,
    789px 1059px #fff,
    1344px 1096px #fff,
    1936px 1236px #fff,
    956px 1917px #fff,
    1763px 1665px #fff,
    1300px 178px #fff,
    490px 1960px #fff,
    1794px 773px #fff,
    968px 1594px #fff,
    1062px 1658px #fff,
    818px 1615px #fff,
    319px 1344px #fff,
    1974px 776px #fff,
    542px 1587px #fff,
    931px 144px #fff,
    1801px 1985px #fff,
    1683px 1916px #fff,
    451px 1304px #fff,
    902px 1069px #fff,
    1576px 636px #fff,
    1619px 1640px #fff,
    134px 708px #fff,
    1281px 1268px #fff,
    1823px 1883px #fff,
    664px 167px #fff,
    44px 1712px #fff,
    497px 533px #fff,
    873px 1483px #fff,
    382px 1757px #fff,
    1753px 1844px #fff,
    276px 308px #fff,
    1796px 1789px #fff,
    203px 864px #fff,
    1359px 662px #fff,
    1074px 1581px #fff,
    1629px 1912px #fff,
    135px 982px #fff,
    1347px 315px #fff,
    643px 1314px #fff,
    499px 1313px #fff,
    1153px 968px #fff,
    1555px 389px #fff,
    1235px 526px #fff,
    1431px 1665px #fff,
    89px 1048px #fff,
    1364px 145px #fff,
    1446px 1175px #fff,
    1307px 1652px #fff,
    479px 72px #fff,
    1617px 1885px #fff,
    6px 836px #fff,
    171px 962px #fff,
    1801px 450px #fff,
    1201px 691px #fff,
    498px 1747px #fff,
    1027px 439px #fff,
    192px 1396px #fff,
    1467px 1767px #fff,
    975px 1968px #fff,
    1632px 1347px #fff,
    1120px 1897px #fff,
    253px 1615px #fff,
    55px 1194px #fff,
    360px 327px #fff,
    1963px 1185px #fff,
    26px 1563px #fff,
    641px 3px #fff,
    1856px 1761px #fff,
    1655px 17px #fff,
    278px 1366px #fff,
    856px 1806px #fff,
    1110px 1288px #fff,
    56px 849px #fff,
    1419px 67px #fff,
    1915px 1503px #fff,
    944px 1218px #fff,
    1858px 1413px #fff,
    354px 1375px #fff,
    15px 335px #fff,
    630px 635px #fff,
    1153px 661px #fff,
    74px 753px #fff,
    1935px 1429px #fff,
    563px 1118px #fff,
    1451px 938px #fff,
    1868px 449px #fff,
    174px 1681px #fff,
    1526px 218px #fff,
    217px 1315px #fff,
    1749px 569px #fff,
    1928px 1956px #fff,
    1532px 953px #fff,
    81px 1804px #fff,
    1224px 503px #fff,
    441px 1740px #fff,
    1701px 177px #fff,
    1560px 1730px #fff,
    896px 145px #fff,
    273px 338px #fff,
    1815px 1373px #fff,
    1598px 736px #fff,
    1703px 154px #fff,
    1877px 963px #fff,
    1995px 986px #fff,
    1513px 387px #fff,
    471px 253px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow:
    1411px 1041px #fff,
    499px 1200px #fff,
    996px 155px #fff,
    489px 1590px #fff,
    766px 265px #fff,
    499px 130px #fff,
    361px 1924px #fff,
    1233px 801px #fff,
    411px 781px #fff,
    1689px 450px #fff,
    1843px 1075px #fff,
    289px 1920px #fff,
    1399px 495px #fff,
    37px 417px #fff,
    442px 734px #fff,
    1764px 897px #fff,
    935px 1229px #fff,
    930px 126px #fff,
    194px 1825px #fff,
    1015px 734px #fff,
    334px 541px #fff,
    1940px 1746px #fff,
    405px 610px #fff,
    27px 1844px #fff,
    519px 212px #fff,
    872px 916px #fff,
    231px 329px #fff,
    1658px 1834px #fff,
    1631px 1173px #fff,
    1956px 1727px #fff,
    1634px 449px #fff,
    772px 1266px #fff,
    591px 1043px #fff,
    1703px 1385px #fff,
    1812px 422px #fff,
    206px 671px #fff,
    763px 1647px #fff,
    1866px 1130px #fff,
    1164px 362px #fff,
    162px 1640px #fff,
    377px 1014px #fff,
    909px 1522px #fff,
    1585px 147px #fff,
    741px 707px #fff,
    752px 709px #fff,
    1605px 723px #fff,
    1451px 1760px #fff,
    1265px 1530px #fff,
    104px 348px #fff,
    598px 1705px #fff,
    1883px 1310px #fff,
    1148px 904px #fff,
    645px 1145px #fff,
    1596px 1015px #fff,
    1144px 1110px #fff,
    1689px 73px #fff,
    777px 373px #fff,
    739px 312px #fff,
    1746px 1973px #fff,
    1264px 189px #fff,
    781px 716px #fff,
    769px 361px #fff,
    1419px 956px #fff,
    472px 373px #fff,
    1653px 1372px #fff,
    1164px 726px #fff,
    1656px 837px #fff,
    1025px 1784px #fff,
    1211px 234px #fff,
    1589px 880px #fff,
    375px 588px #fff,
    1123px 1051px #fff,
    293px 1422px #fff,
    135px 1939px #fff,
    976px 53px #fff,
    111px 1853px #fff,
    370px 1727px #fff,
    302px 1088px #fff,
    1984px 1771px #fff,
    745px 1570px #fff,
    96px 1566px #fff,
    165px 1545px #fff,
    1037px 1126px #fff,
    996px 1311px #fff,
    839px 552px #fff,
    1762px 1403px #fff,
    1285px 976px #fff,
    1000px 1978px #fff,
    330px 1442px #fff,
    1098px 745px #fff,
    1859px 901px #fff,
    485px 1713px #fff,
    492px 1051px #fff,
    1772px 1227px #fff,
    789px 1059px #fff,
    1344px 1096px #fff,
    1936px 1236px #fff,
    956px 1917px #fff,
    1763px 1665px #fff,
    1300px 178px #fff,
    490px 1960px #fff,
    1794px 773px #fff,
    968px 1594px #fff,
    1062px 1658px #fff,
    818px 1615px #fff,
    319px 1344px #fff,
    1974px 776px #fff,
    542px 1587px #fff,
    931px 144px #fff,
    1801px 1985px #fff,
    1683px 1916px #fff,
    451px 1304px #fff,
    902px 1069px #fff,
    1576px 636px #fff,
    1619px 1640px #fff,
    134px 708px #fff,
    1281px 1268px #fff,
    1823px 1883px #fff,
    664px 167px #fff,
    44px 1712px #fff,
    497px 533px #fff,
    873px 1483px #fff,
    382px 1757px #fff,
    1753px 1844px #fff,
    276px 308px #fff,
    1796px 1789px #fff,
    203px 864px #fff,
    1359px 662px #fff,
    1074px 1581px #fff,
    1629px 1912px #fff,
    135px 982px #fff,
    1347px 315px #fff,
    643px 1314px #fff,
    499px 1313px #fff,
    1153px 968px #fff,
    1555px 389px #fff,
    1235px 526px #fff,
    1431px 1665px #fff,
    89px 1048px #fff,
    1364px 145px #fff,
    1446px 1175px #fff,
    1307px 1652px #fff,
    479px 72px #fff,
    1617px 1885px #fff,
    6px 836px #fff,
    171px 962px #fff,
    1801px 450px #fff,
    1201px 691px #fff,
    498px 1747px #fff,
    1027px 439px #fff,
    192px 1396px #fff,
    1467px 1767px #fff,
    975px 1968px #fff,
    1632px 1347px #fff,
    1120px 1897px #fff,
    253px 1615px #fff,
    55px 1194px #fff,
    360px 327px #fff,
    1963px 1185px #fff,
    26px 1563px #fff,
    641px 3px #fff,
    1856px 1761px #fff,
    1655px 17px #fff,
    278px 1366px #fff,
    856px 1806px #fff,
    1110px 1288px #fff,
    56px 849px #fff,
    1419px 67px #fff,
    1915px 1503px #fff,
    944px 1218px #fff,
    1858px 1413px #fff,
    354px 1375px #fff,
    15px 335px #fff,
    630px 635px #fff,
    1153px 661px #fff,
    74px 753px #fff,
    1935px 1429px #fff,
    563px 1118px #fff,
    1451px 938px #fff,
    1868px 449px #fff,
    174px 1681px #fff,
    1526px 218px #fff,
    217px 1315px #fff,
    1749px 569px #fff,
    1928px 1956px #fff,
    1532px 953px #fff,
    81px 1804px #fff,
    1224px 503px #fff,
    441px 1740px #fff,
    1701px 177px #fff,
    1560px 1730px #fff,
    896px 145px #fff,
    273px 338px #fff,
    1815px 1373px #fff,
    1598px 736px #fff,
    1703px 154px #fff,
    1877px 963px #fff,
    1995px 986px #fff,
    1513px 387px #fff,
    471px 253px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow:
    1302px 1738px #fff,
    1722px 1107px #fff,
    377px 946px #fff,
    263px 973px #fff,
    1526px 162px #fff,
    1246px 1820px #fff,
    75px 1570px #fff,
    784px 808px #fff,
    1529px 1161px #fff,
    320px 1879px #fff,
    1945px 998px #fff,
    894px 354px #fff,
    464px 230px #fff,
    317px 1492px #fff,
    1252px 267px #fff,
    207px 770px #fff,
    756px 1832px #fff,
    473px 1068px #fff,
    1049px 53px #fff,
    204px 1079px #fff,
    1392px 1218px #fff,
    1337px 1711px #fff,
    1300px 1137px #fff,
    756px 1517px #fff,
    596px 1403px #fff,
    1035px 1360px #fff,
    1635px 26px #fff,
    182px 168px #fff,
    1303px 1245px #fff,
    1622px 1509px #fff,
    1759px 1889px #fff,
    1021px 1451px #fff,
    984px 1098px #fff,
    1665px 840px #fff,
    1692px 251px #fff,
    1958px 1755px #fff,
    509px 1705px #fff,
    579px 1172px #fff,
    1498px 219px #fff,
    888px 889px #fff,
    969px 538px #fff,
    957px 1217px #fff,
    1712px 918px #fff,
    259px 296px #fff,
    892px 840px #fff,
    1589px 846px #fff,
    1652px 1672px #fff,
    1654px 652px #fff,
    1958px 545px #fff,
    272px 353px #fff,
    1585px 1911px #fff,
    1214px 1571px #fff,
    294px 938px #fff,
    1973px 981px #fff,
    1044px 315px #fff,
    259px 40px #fff,
    1078px 365px #fff,
    1465px 119px #fff,
    140px 1284px #fff,
    1039px 897px #fff,
    642px 264px #fff,
    372px 485px #fff,
    1029px 1369px #fff,
    1629px 907px #fff,
    168px 545px #fff,
    1296px 1032px #fff,
    1100px 1942px #fff,
    847px 861px #fff,
    939px 1173px #fff,
    940px 813px #fff,
    763px 508px #fff,
    1501px 945px #fff,
    1238px 1135px #fff,
    934px 880px #fff,
    246px 1092px #fff,
    1764px 1598px #fff,
    1196px 1749px #fff,
    1148px 1744px #fff,
    44px 1145px #fff,
    1220px 1585px #fff,
    294px 514px #fff,
    842px 1468px #fff,
    1943px 75px #fff,
    1296px 617px #fff,
    485px 1393px #fff,
    103px 373px #fff,
    1456px 1884px #fff,
    1550px 1298px #fff,
    1644px 745px #fff,
    801px 1175px #fff,
    1748px 510px #fff,
    1558px 247px #fff,
    1586px 1877px #fff,
    1755px 136px #fff,
    1414px 1286px #fff,
    360px 1048px #fff,
    1513px 903px #fff,
    684px 114px #fff,
    1931px 270px #fff,
    1755px 1245px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow:
    1302px 1738px #fff,
    1722px 1107px #fff,
    377px 946px #fff,
    263px 973px #fff,
    1526px 162px #fff,
    1246px 1820px #fff,
    75px 1570px #fff,
    784px 808px #fff,
    1529px 1161px #fff,
    320px 1879px #fff,
    1945px 998px #fff,
    894px 354px #fff,
    464px 230px #fff,
    317px 1492px #fff,
    1252px 267px #fff,
    207px 770px #fff,
    756px 1832px #fff,
    473px 1068px #fff,
    1049px 53px #fff,
    204px 1079px #fff,
    1392px 1218px #fff,
    1337px 1711px #fff,
    1300px 1137px #fff,
    756px 1517px #fff,
    596px 1403px #fff,
    1035px 1360px #fff,
    1635px 26px #fff,
    182px 168px #fff,
    1303px 1245px #fff,
    1622px 1509px #fff,
    1759px 1889px #fff,
    1021px 1451px #fff,
    984px 1098px #fff,
    1665px 840px #fff,
    1692px 251px #fff,
    1958px 1755px #fff,
    509px 1705px #fff,
    579px 1172px #fff,
    1498px 219px #fff,
    888px 889px #fff,
    969px 538px #fff,
    957px 1217px #fff,
    1712px 918px #fff,
    259px 296px #fff,
    892px 840px #fff,
    1589px 846px #fff,
    1652px 1672px #fff,
    1654px 652px #fff,
    1958px 545px #fff,
    272px 353px #fff,
    1585px 1911px #fff,
    1214px 1571px #fff,
    294px 938px #fff,
    1973px 981px #fff,
    1044px 315px #fff,
    259px 40px #fff,
    1078px 365px #fff,
    1465px 119px #fff,
    140px 1284px #fff,
    1039px 897px #fff,
    642px 264px #fff,
    372px 485px #fff,
    1029px 1369px #fff,
    1629px 907px #fff,
    168px 545px #fff,
    1296px 1032px #fff,
    1100px 1942px #fff,
    847px 861px #fff,
    939px 1173px #fff,
    940px 813px #fff,
    763px 508px #fff,
    1501px 945px #fff,
    1238px 1135px #fff,
    934px 880px #fff,
    246px 1092px #fff,
    1764px 1598px #fff,
    1196px 1749px #fff,
    1148px 1744px #fff,
    44px 1145px #fff,
    1220px 1585px #fff,
    294px 514px #fff,
    842px 1468px #fff,
    1943px 75px #fff,
    1296px 617px #fff,
    485px 1393px #fff,
    103px 373px #fff,
    1456px 1884px #fff,
    1550px 1298px #fff,
    1644px 745px #fff,
    801px 1175px #fff,
    1748px 510px #fff,
    1558px 247px #fff,
    1586px 1877px #fff,
    1755px 136px #fff,
    1414px 1286px #fff,
    360px 1048px #fff,
    1513px 903px #fff,
    684px 114px #fff,
    1931px 270px #fff,
    1755px 1245px #fff;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
} /*# sourceMappingURL=index.map */
